<!DOCTYPE HTML>
<html>
<head>
	<title> Jayesh Sapkale : Nodler : noddy-app</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta property="og:title" content="jayesh sapkale"/>
	<meta name="description" content="jayesh sapkale,web developer,And college drop out."/>
	<meta name="keywords" content="jayesh sapkale,web developer , nodler" />
	<meta name="google-site-verification" content="gct6Obad0VumwFzF2j_jn1b6__beHQW3qE8U703zYXU" />	
	<link rel="shortcut icon" href="/images/favicon.png" type="image/png">
	<link href="/css-jayesh/fonts.css" rel="stylesheet" />	
</head>
<body class="homepage">
	<!-- Header Wrapper -->
		<div id="header-wrapper" class="wrapper">
			<div class="container">
				<div class="row">
					<div class="12u">
								<div id="logo">
										<h1><a href="https://plus.google.com/+jayeshSapkale" rel="me"> Jayesh sapkale </a></h1>
										<span class="byline1" style='margin:1em 0 1em 0;'> initiator of floaty </span>
									</div>
					</div>
				</div>
			</div>
		</div>
	<!-- /Header Wrapper -->

	<!-- Intro Wrapper -->
		<div id="intro-wrapper" class="wrapper wrapper-style1">				
			<div class="container">
				<div class="row">
					<div class="12u">
						
						<!-- Intro -->
							<section id="intro">																		
								<p class="style3">Hello friends this is jayesh , i 'm web developer { freelancer }. i've finished my bachelor degree from University of surat { India }. then  i Drop my Master degree { oh that 's good for me.} for my professional web development career.
								</p>
							</section>
						<!-- /Intro -->
					</div>
				</div>
			</div>
		</div>
	<!-- /Intro Wrapper -->
	
	<!-- Main Wrapper -->
		
		<div class="wrapper wrapper-style2">
			
			<div class="container">
				<div class="row">
					<div class="12u">
						
						<!-- Main -->
							<div id="main">
																
								<!-- Features -->
									<section id="features">
										<header class="style1">
											<h2> i'll provide what you want.  </h2>												
										</header>
										<div class="feature-list">
											<div>
												<div class="row">
													<div class="6u">
														<section>
															<h3 class="fa fa-html5">HTML</h3>
															<p>How we forgot the Building block for web site and web apps.</p>
														</section>
													</div>
													<div class="6u">
														<section>
															<h3 class="fa fa-css3">CSS</h3>
															<p>Without css the web page is without happiness of life.</p>
														</section>
													</div>

												</div>
												<div class="row">
													<div class="6u">
														<section>
															<h3 class="fa fa-rocket">JavaScript</h3>
															<p>Javascript is the best language to interact with web application,with JavaScript ,
															   web application can reach it's  higher scalable apps.
  <br> Custom Javascript Function : <br> - runner() <br> - swapper() <br> - layered()
  </p>

														</section>
													</div>
													<div class="6u">
														<section>
															<h3 class="fa fa-leaf">MongoDb</h3>
															<p> i'm at the begging stage of MongoDb so. not much topic to discuss but i've some knowledge of it.</p>
														</section>
													</div>
												</div>
												<div class="row">
													<div class="6u">
														<section>
															<h3 class="fa fa-check">php { floaty } </h3>
															<p>And the magic is come php , php is web programming language for dynamic web application.i'm do php programming since last 3 years and 1.5 year oops. and yes Floaty is tiny php framework that helps the php developer in regular section like in database query  , ease of controller and most crucial feature of floaty is texture. separate the whole dynamic content generated by php in ui section with texture section.in layman term  texture will accept  one single layout of your ui code and database rows.now it is floaty 's duty convert database rows to given layout. 
															<br> <span style='color:red;'>Note: </span>texture is available in different types so it is not just regular function of php. more than that.  </p>
														</section>
													</div>

													<div class="6u">
														<section>
															<h3 class="fa fa-fire">Node.js</h3>
															<p>Last i've very fortunate to tell you that i've some knowledge of node.js ,Node.js is the Server side JavaScript,it means no more Multi-thread programming.just single thread server all bloody bunch requests of the web. i do with { MVC framework " express " with node.js.
														    <br>
														       <span>  My notable work in node.js : </span> 
														       <br>
														       <span> - Chatty  : chat site with friends connection.</span>
														       <br>
														       <span> - Zy momento : freeze your moment(textually). </span>
															</p>

														</section>
													</div>

												</div>

												<div class="row">

												<div class="6u">
														<section>
															<h3 class="fa fa-rocket"> Phonegap </h3>
															<p> 
															      Hybrid Apps are the present.and  future too.
																what i trying is put { Node.js + JavaScript } into box
															    Javascript is for speed and node.js for  speed + api call.<br>
															   <span>  My notable work in phoneGap </span>
														       <br>
														       <span> - stranger geo chat  {very efficient work} </span>
															</p>
														</section>
													</div>
												</div>	



											</div>
										</div>											
									</section>
								<!-- /Features -->
							</div>
						<!-- /Main -->
						
					</div>
				</div>
			</div>
		</div>
	<!-- /Main Wrapper -->
	
	
	<!-- Footer Wrapper -->
		<div id="footer-wrapper" class="wrapper">
			<!-- <div class="title">The Rest Of It</div> -->
			<div class="container">
				<div class="row">
					<div class="12u">

						<!-- Footer -->
							<div id="footer">
								<header class="style1">
									<h2>Get in touch</h2>
									</p>

									<h1 style="font-size:100%;"><p class="byline" style="color:#DE5E60">
										jayesh5101992sapkale@gmail.com
									 </p></h1>
									<br>

										<span class="icons" style='padding:0 0 0 1em;' >
										<a target="_blank" href="https://plus.google.com/+jayeshSapkale" rel="me" id="google_icon" class="fa fa-google-plus solo"> </a>
										</span>


										<span class="icons" style='padding:0 0 0 1em;'  >
										<a target="_blank" href="https://in.linkedin.com/in/jayeshsapkale/" id="linkedin_icon" class="fa fa-linkedin solo"></a>
										</span>	


								</header>
								<div>

								</div>
							</div>
						</div>
						<!-- /Footer -->
					</div>
				</div>
			</div>
		</div>
	<!-- /Footer Wrapper -->
</body>

<!--[if lte IE 8]><script src="js/html5shiv.js"></script><link rel="stylesheet" href="css/ie8.css" /><![endif]-->

<script src="/javascripts-jayesh/all_jq.js"></script>

<script>
	
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47166383-1', 'noddy-app.herokuapp.com');
  ga('send', 'pageview');

 </script>
 
 		
</html>