<!DOCTYPE html>
<html>
<head>
	<title>Jayesh Sapkale</title> <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
	<link rel="stylesheet" type="text/css" href="/stylesheets/jswalker.css">
	
</head>
<body>
		<div id="wrapper">
			<div id="content">
				<div id="inner-content">


 
					<div class="jswalker-block">
						<h2>What is Js-Walker (Private MVC framework)</h2>


						<ul id="org" style="display:none">
    <li>
       Js-Walker
       <ul>
       		<li class='express-container'>Express
       			<ul>
       					<li>Continer
       						<ul>
       							<li>Session management</li>
       							<li>doT.js</li>
       							<li>Logger</li>

       						</ul>
       					</li>
       			</ul>
       			<li>Controller</li>
       			<li>Model
       			<ul>
       			  <li>Prototype</li>
       			  <li>Modules
       			  	<ul>
       			  		<li>Mysql </li>
       			  		<li>Mongo</li>
       			  		<li>Redis </li>
       			  		<li>Socket </li>
       			  	</ul>
       			  </li>
       			</ul>
       			</li>
       			<li>view
       				<ul>
       					<li>Render</li>
       					<li>doT Template</li>
       				</ul>
       			</li>
       		</li>
	       
       </ul>
     </li>
   </ul>            
    
    <div id="chart" class="orgChart"></div>
    
						<div class="jswalker-info">													    



							<li>Framework is for concrete and rock solid development for node.js web application.</li>
							<li>Build on top layer of Express.js</li>
							<li  class='important-info'>Key ingredient</li>
								<div class="jswalker-inner-info">
								  <li  class='important-info'>doT .js for view template</li>
								  <li  class='important-info'>Socket and redis support</li>
								  <li  class='important-info'>Unique and solid flaw of request/response cycle.</li>
								  <li  class='important-info'>Server to client side communication error tracking(Ease for development).</li>
								</div>
						</div>
					</div>		

					<div class="jswalker-block">
						<h2>what's new?</h2>
						<div class="jswalker-info">	
							<li>Highly and easily configurable </li>
							<div class="jswalker-inner-info">
									<li>Configuration file : app.js </li>
									<li>SSL Certificate </li>
									<li>Database Switching (Mysql/Mongo)</li>
									<li>Base path for resource.</li>
									<li>Enable or disable socket handling</li>
									<li>Error tracking for production and Development</li>

							</div>	

							<br><br>

							<li>Strong redis Support</li>
							<div class="jswalker-inner-info">
									<li>Custom Node_modules for redis manipulation</li>
							</div>	

							<br><br>


							<li>Socket flavour</li>
							<div class="jswalker-inner-info">
								<li>Single user(receiver) socket</li>
								<li>Group socket </li>
								<li>Self socket</li>
							</div>	

							<br><br>


							<li>Maintainability</li>
							<div class="jswalker-inner-info">
									<li>Every Controller and module have strict approach</li>
							</div>
							<br><br>


							<li class='important-info'>Tracking/Control Every Output log</li>
							<div class="jswalker-inner-info">
								<p>Js-walker have unique feature that no framework has,Ajax and socket Response Tracking on development phase and easily disable in production phase</p>
								<p>Response from server can track from client side console and see which controller or model this response coming from with line number.</p>
							</div>
							<br><br>


							<li class='important-info'>Error tracking</li>
							<div class="jswalker-inner-info">
								<p>Normal / Ajax / Socket all kind of request can track error with file name and line number in minimal form and easily track error.</p>
								<p>This Framework track even error in faulty query string for database it was some time difficult task normal framework because mysql query error return sql error object not error line.</p>
							</div>
							<br><br>

							<li class='important-info'>Code generator</li>
							<div class="jswalker-inner-info">
								<p>No headache of Controller/model/view/template generation</p>
								<p>Write this line to command line:</p>
								<b><p>node system/walker.js welcome</p></b>
							</div>
							<br><br>

				
						</div>
					</div>	


					<div class="jswalker-block">

					  <h2>Practice the basic example provided by default in Js-Walker</h2>

					  <div class="jswalker-info">	
						<div class="jswalker-inner-info">					  
						  	<p class='important-info'>This framework specially design for large scale product,so it is not very easy to handle and not for scaffolding application.</p>

						  	<p class='important-info'>See the example of controller and model it was little bit time consuming process first time,but it is concrete MVC structure.</p>

						  	<p class='important-info'>Once you understand the procedure for js-walker then it is Piece of cake for web engineer.</p>					  	
						</div>
					  </div>
					 </div>

					 <div class="jswalker-block">

					  <h2>Download link</h2>
					  <div class="jswalker-info">
					  	<p class='important-info'>Download link not provided by author,publicly not open yet,right now demo available only for node.js industry</p>
					  	<p class='important-info'>Want a demo on Js-walker :</p>
					  	<div class="jswalker-coding-block">
					  		<p>Author  :  Jayesh Sapkale </p>
					  		<p>Email   :  node.jayesh@gmail.com </p>
					  		<p>Mobile number : (+91) 8447108886 </p>
					  	</div>
					  </div>
					 </div>


					 <div class="jswalker-block">
					   <h2>Development timeframe</h2>
					  	<div class="jswalker-info">
					   		<li>2015(oct) to 2016(continue)</li>
					 	</div>					   
					 </div>

				</div>
			</div>
		</div>
		
</body>
<script src='/javascripts/jquery_2.1.1.js'></script>
<script src='/javascripts/jOrgChart.js'></script>

<script>
 $(document).ready(function(){
 	 $("#org").jOrgChart({
            chartElement : '#chart',
            dragAndDrop  : false
     });


 });
</script>
</html>