<!DOCTYPE html>
<html>
<head>
	<title>Jayesh Sapkale</title> <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>

	<link rel="stylesheet" type="text/css" href="/stylesheets/jswalker.css">

</head>
<body>
		<div id="wrapper">
			<div id="content">
				<div id="inner-content">
					<div class="jswalker-block">
						<h2>What is Js-Walker (Private MVC framework)</h2>
						<div class="jswalker-info">
							<div class="mvc-image">
								<img src='/images/mvc.png'/>
							</div>
						</div>
					</div>		

					

					<!-- <div class="jswalker-block">
					  <div class="jswalker-info">					
					 	<h2>Let's have Technical Round</h2>
						<p>You can see the Model calling from controller </p>
						<p>And see callback,let's udnderstand how it works!!</p>
							<div class="jswalker-inner-info">
								<li>How to render page from controller</li>

								<div class="jswalker-coding-block">
									<p>callback({page:"welcome.html",ziel:{name:"jayesh-sapkale"} });</p>

									<div class="jswalker-inner-info">
										<li>page:Normal page name.</li><br>
										<li>ziel:Standard name for data from server to client and vice versa.</li>
									</div>
								</div>


							</div>

							<p></p>

						
					  </div>


					  <div class="jswalker-info">					
					  	<li>Model</li>
							<div class="jswalker-inner-info">
								<li>Strict structure for model return data to controller </li>

								<div class="jswalker-coding-block">
								<pre>
	require("jswalker_query").select({
		query:"select user_id from user",
		mysql:mysql,
		table_separator:false
	},function(op){
		if(op.flag==true){
			callback({status:{flag:"success",info:""},ziel:{user:op.res} });
		}else{
			callback({status:{flag:"fail",info:{query_trace:op.query_trace} },ziel:{} });
		}
	});
								</pre>



	 							

	 								<p class='important-info'>failing callback only call when some problem in query so info property have query trace object which show what is problem in query and developer can catch error via error page or json response for ajax/socket request.</p><br>		

									

								</div>
								<div class="jswalker-coding-block">
									<li>query:standard query</li>
									<li>mysql:mysql object</li>
									<li>table_separator:if true it return table name as prefix with all field in rows</li>
									<li>op:standard name for callback parameter</li>
									<li>op.res:result of database query</li>
								</div>

							</div>

							<p></p>

						
					  </div>


					</div> -->

					<div class="jswalker-block">
						<h2>What New?</h2>
						<div class="jswalker-info">	
							<li>Highly and easy Confgurable </li>
							<div class="jswalker-inner-info">
									<li>Configuration file : app.js </li>
									<li>SSL Certificate </li>
									<li>Database Switching (Mysql/Mongo)</li>
									<li>Base path for resource.</li>
									<li>Enable or disable socket handling</li>
									<li>Error tracking for production and Development</li>

							</div>	

							<br><br>

							<li>Strong redis Support</li>
							<div class="jswalker-inner-info">
									<li>Custom Node_modules for redis manipulation</li>
							</div>	

							<br><br>


							<li>Socket flavour</li>
							<div class="jswalker-inner-info">
								<li>Single user(receiver) socket</li>
								<li>Group socket </li>
								<li>Self socket</li>
							</div>	

							<br><br>


							<li>Maintainability</li>
							<div class="jswalker-inner-info">
									<li>Every Controller and module have strict approach</li>
							</div>
							<br><br>


							<li class='important-info'>Tracking/Control Every Output log</li>
							<div class="jswalker-inner-info">
								<p>Js-walker have unique feature that no framework has,Ajax and socket Response Tracking on development phase and easily disable in production phase</p>
								<p>Response from server can track from client side console and see which controller or model this response coming from with line number.</p>
							</div>
							<br><br>


							<li class='important-info'>Error tracking</li>
							<div class="jswalker-inner-info">
								<p>Normal / Ajax / Socket all kind of request can track error with file name and line number in minimal form and easily track error.</p>
								<p>This Framework track even error in faulty query string for databaseit was some difficult with normal framework because mysql query error return sql error object not error line.</p>
							</div>
							<br><br>

							<li class='important-info'>Code generator</li>
							<div class="jswalker-inner-info">
								<p>No headache of Controller/model/view/template generation</p>
								<p>Write this line to command line:</p>
								<b><p>node system/walker.js welcome</p></b>
							</div>
							<br><br>

				
						</div>
					</div>	



					<div class="jswalker-block">

					  <h2>Practice the basic example provided by default in Js-Walker</h2>

					  <div class="jswalker-info">	
						<div class="jswalker-inner-info">					  
						  	<p class='important-info'>This framework specially design for large scale product,so it is not very easy to handle and not for scaffolding application.</p>

						  	<p class='important-info'>See the example of controller and model it was little bit time consuming process first time,but it is concrete MVC structure.</p>

						  	<p class='important-info'>Once you understand the procedure for js-walker then it is Piece of cake for web engineer.</p>					  	
						</div>
					  </div>
					 </div>

					 <div class="jswalker-block">

					  <h2>Download link</h2>
					  <div class="jswalker-info">
					  	<p class='important-info'>Download link not provided by author and not open publicly,right now only for node.js industry</p>
					  	<p class='important-info'>Want a demo on Js-walker :</p>
					  	<div class="jswalker-coding-block">
					  		<p>Author  :  Jayesh Sapkale </p>
					  		<p>Email  :  node.jayesh@gmail.com </p>
					  		<p>Mobile number : (+91) 8447108886 </p>
					  	</div>
					  </div>
					 </div>


					 <div class="jswalker-block">
					   <h2>Development timeframe</h2>
					  	<div class="jswalker-info">
					   		<li>2015(oct) to 2016(continue)</li>
					 	</div>					   
					 </div>

				</div>
			</div>
		</div>
		<!-- <div id="jswalker">
			<div class="jswalker-block">
				asd
			</div>
			<div class="jswalker-block">
				
			</div>
		</div> -->
</body>
</html>