/*static*/

#confirm-dialog{
    width: 100%;
  height: 100%;
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999;
    background: rgba( 192, 192, 192, 0.8 );
  transition: all 100ms ease-in;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
}

.dialog-show{
  transform: scale(1)  !important;
  -webkit-transform: scale(1)  !important;
  -moz-transform: scale(1)  !important;
}

#dialog-content {
    width: 300px;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-left: -150px;
    background: #fff;
    border: 1px solid #ccc;
}

#dialog-text {
    margin: 1.5em 0;
    text-align: center;
    text-transform: uppercase;
}

#dialog-actions {
    padding-bottom: 1.5em;
    text-align: center;
}

#dialog-actions button {
    margin-right: 1em;
    border: 2px solid #000;
    background: #fff;
    font-size: 1em;
    padding: 0.4em 1.4em;
    font-weight: bold;
    text-transform: uppercase;
}

/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
        font-family: 'Source Sans Pro';
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

/* Portrait layout (default) */


.main-header .tabbar--material{
    background-color: #cd0e0e !important;
}

.main-header  .tabbar__badge{
    color: white !important;
    background: #951313 !important;
}

.main-header  .ons-icon{
    color:white !important;
}

.page-chunk{
    height: 100%;
    float: left;
    width: 100%;
    position:fixed !important;
}


.page-chunk[page-index='1']{
        margin: 0% 0;
    text-align: center;
    padding: 20% 10%;
    color: white;
    font-size: 74px;
    z-index: 10000;
    background: #bf0000;
}

.page-chunk[page-index='2']{
        color: #0e0d0d;
    /* background: #493de9; */
    /* background: #232020; */
    font-weight: 900;
}

.page-chunk[page-index='3']{
    padding: 60px 10px;
}


.switch-header{
    color: #082dfd !important;

    background: white !important;
    font-weight: 900;
}

.header-panel{
   /*background-color: #cd0e0e !important;
   background-color: #dc0000 !important;*/
       z-index: 1000;
       position: fixed;
    width: 100%;
        color: white;

    
    background: #e62117 !important;

    /* background: #951313 !important; */
    height:45px;
}

.active-header-chunk{
  opacity: 1 !important;
}

.header-chunk{
            width: auto;
    opacity: 0.5;
    display: inline-block;
    text-align: center;
    font-weight: 900;
    font-size: 25px;
    font-size: 17px;
        padding: 10px;
}

.left-header-chunk{    float:left;
        text-align:left;

    width: 60%;}
.right-header-chunk{    float: right;
        text-align: right;
    width: 40%;}


.page-block{  

        width: 100%;
    position: fixed;
    height: 100%;
    overflow: auto;
    }
/*.page-chunk{    padding: 16px;}*/


.title-tag{
          /* background-color: #343434; */
    padding: 8px 11px;
    color: #181717;
    /* font-weight: 900; */
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
    margin-right: 10px;
    margin: 2px;
    font-family: Oswald,sans-serif;
    font-weight: 700;
    font-size: 12px;
    font-weight;
    line-height: 25px;
    letter-spacing: 2px;
}    


.stats{   

    text-align: center;
    border-bottom: 2px solid #f1f1f1;
    padding: 0 0 15px 0;
}
.stats .stats-text{    text-align: center;
    color: #ddd;}

.stats-chunk{
    font-size: 18px;
}
.stats-chunk:nth-child(1) {
    color: #cd0e0e;

}


.stats-chunk:nth-child(2) {
    color: #e61414;
    padding: 0 15px;
    text-align: center;
}

.stats-chunk .stat-text:nth-child(2){
    vertical-align: middle;
}


.content-block{
        /* padding: 22px 20px; */
    width: 100%;
    height: 100%;

      background: linear-gradient(45deg, rgba(32, 38, 243, 0.8) 0%, #FFC107 100%);
background: -moz-linear-gradient(left, rgba(32, 38, 243, 0.8) 0%, rgba(139, 0, 245, 0.8) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(243,32,32,0.8)), color-stop(100%, rgba(245,135,0,0.8)));
background: -webkit-linear-gradient(left, rgba(32, 38, 243, 0.8) 0%, rgba(139, 0, 245, 0.8) 100%);
background: -o-linear-gradient(left, rgba(32, 38, 243, 0.8) 0%, rgba(139, 0, 245, 0.8) 100%);
background: -ms-linear-gradient(left, rgba(32, 38, 243, 0.8) 0%, rgba(139, 0, 245, 0.8) 100%);
background: linear-gradient(to right, rgba(32, 38, 243, 0.8) 0%, rgba(139, 0, 245, 0.8) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f32020', endColorstr='#f58700', GradientType=0.5 );


background: linear-gradient(to right, rgba(32, 38, 243, 0.8) 0%, rgba(139, 0, 245, 0.8) 100%);

}

.content-block img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    /*object-fit: contain;*/

}



.content-text{
    color: #686868;
    font-size: 1.3em;
    margin-top: 10px;
        text-transform: none;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 4px;
        padding: 12px;
}


.content-chunk{
        width: 100%;
    padding: 5px 10px;
    background: whitesmoke;
    margin: 0 0 10px 0;
}



.image-pushed-block{

}
.image-not-push-block{
width: 100%;
    height: 100%;

}


.picture-block{    width: 100%;
    height: 300px;
}

.picture-block .fa{    padding: 35% 0;
    text-align: center;
    width: 100%;
    font-size: 70px;}    

.picture-footer-block{  width: 100%;
    /* height: 20px; */
    z-index: 10000;
    position: absolute !important;
        bottom: 0px;
    background-color: rgba(4, 4, 4, 0.9);
    }

.pic-foot-block{    width: 100%;
    /* background: red; */
    height: 50px;}
.pic-confirm-btn{    width: 33%;
    position: relative;
    height: 100%;
    /* background: #082dfd; */
    float: left;
    text-align: center;
    padding: 10px 0;
    line-height: 26px;
    
    border-right: 0;
    color: #ffffff;
    font-weight: 900;
    font-size: 17px;}
.pic-recapture-btn{    width: 33%;
    position: relative;
    height: 100%;
    /* background: #082dfd; */
    float: left;
    text-align: center;
    padding: 10px 0;
    line-height: 26px;
    
    /* border-right: 0; */
    color: #ffffff;
    font-weight: 900;
    font-size: 17px;}
.pic-filter-btn{
    width: 100%;
    position: relative;
    height: 100%;
    /* background: #082dfd; */
    float: left;
    text-align: center;
    padding: 10px 0;
    line-height: 26px;
    
    /* border-right: 0; */
    color: #ffffff;
    font-weight: 900;
    font-size: 17px;}    


.picture-preview-block{    width: 100%;
    height: 100%;}

.picture-preview-block img{        width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: fill;
    position: absolute;}    



.register-chunk{    width: 100%;
    position: relative;
    height: 100%;
    /* background: red; */
    padding: 72px 0;}
.register-image-block{    width: 100%;
    text-align: center;
    height: 126px;
    padding: 20px;
    position: relative;}
.register-image-block img{    width: 100px;
    height: 100px;
    border-radius: 360px;
    border: 3px solid #3F51B5;
    background: white;}
.register-info-block{width: 100%;
    position: relative;
    padding: 20px;}


#register-user{
        border-radius: 45px;
    width: 100%;
}

.policy-page{
    padding: 48px 20px;
}

.policy-chunk{
        padding: 0 0 30px 0;
}

.policy-chunk h6{
        font-weight: 900;
    color: #303f9f;

}

.policy-chunk p,.policy-chunk ul{
    color: #3a3838;
    font-size: 15px;
}



.pic-foot-filter{    width: 100%;
    position: relative;
    height: auto;}
.filter-chunk{width: 50px;
    height: 50px;
    display: inline-block;
    margin: 8px;
    border-radius: 360px;
    background: rebeccapurple;}


.filter-chunk img{
    width:100%;
    height:100%;
    border-radius:360px;
}


.pic-freeze{
        opacity: 0.5 !important;
}


.camera-confirm-modal{}
.front-camera-block{    width: 50%;
    background: #dedede;
    padding: 13px;
    /* height: 55px; */
    color: #333;
    font-size: 16px;
    font-weight: 900;
    box-sizing: border-box;}
.back-camera-block{    width: 50%;
    background: #dedede;
    padding: 13px;
    /* height: 55px; */
    color: #333;
    font-size: 16px;
    font-weight: 900;
    box-sizing: border-box;}

.active-category{
    opacity:1 !important;
}

.reward-block-list{}

.reward-block{
}

.reward-chunk{}



.locked-reward-block{}
.unlocked-reward-block{}

.category-block{  
    width: auto;
    height: 31px;
    opacity: 0.5;
    font-size: 16px;
    float: left;
    padding: 4px 10px;
    color: #fff;
    font-weight: 900;
    margin: 10px 6px;
    position: relative;
    /* background: #e0e0e0; */
    border-radius: 45px;}
.category-chunk{    position: relative;
    width: 100%;
    height: auto;}


.locked-category-chunk{background:#e62117;opacity: 1;color: white;font-size: 15px !important;}
.unlocked-category-chunk{}



.list-ytb-videos{  
            width: 100%;
    float: left;
    height: 100%;
        overflow-y: auto;
    margin:45px 0;
        padding: 0 0 120px 0;
    position: relative;}
.video-chunk{    width: 100%;
    display: block;
    height: auto;
    float: left;
        border-bottom: 1px solid #ddd;
    padding: 0 0 22px 0;
    margin: 16px 0;}
.video-thumbnail{    float: left;
    width: 116px;
    height: 80px;}
.video-thumbnail img{    width: 100%;
    height: 100%;}
.video-title{    width: 70%;
    font-size: 14px;
    padding: 0px 14px;
    float: left;
        word-break: break-word;
    height: 66px;
    overflow: hidden;}


@media (max-width:400px)  {
    .video-chunk{    padding: 3px 26px;
    text-align: center;}
    .video-thumbnail{    width: 300px;
    height: 200px;
    width: 100%;}
    .video-title{
        width: 100%;
    box-sizing: border-box;
    text-align: left;
    padding: 6px 0 5px 3px;
    height: auto;

    }
}    

.version-block-list{
    width: 100%;
    height: auto;
    padding: 47px 0;
    text-align: center;}
.version-chunk{  
    height: 80px;
    /* background: red; */
    text-align: center;
    color: #e62117;
    margin: 1px 0;
    text-align: center;
    font-size: 19px;
    line-height: 82px;
    font-weight: 900;
    margin: 10px 90px;
    background: #f5f5f5;}